*{
    padding : 0;
    margin : 0;
}
body{
    background-color: rgb(157, 79, 205);
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 1rem black;
    font-size: 8vmin;
    color: black;
    background-color: white;
    

}
#reset-btn{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
}
.msg-container{
    height: 100vmin;
}
#new-btn{
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
}
#msg{
    color: white;
    font-size: 50px;
}
.hide{
    display: none;
}
